PORT=5000
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000
DATABASE_URL=postgresql://urlshortener_6yp2_user:k9M6dAZuakD9BWcxMoDuYNRIoqwWxqbA@dpg-davr5b60tbcc73f2m0rg-a/urlshortener_6yp2

# DATABASE_URL=postgresql://postgres:2580@localhost:5432/urlshortener?schema=public